body {
  background: #000;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.875rem;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 50;
}

header h1 {
  color: #F6F4F4;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

header h4 {
  color: #F23D6D;
  font-size: 1em;
  margin: 0.2rem 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 6.875rem;
  padding-top: 0.250rem;
}

main .card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: 2px solid #F23D6D;
  box-sizing: border-box;
  color: #F6F4F4;
  cursor: pointer;
  width: 33.2%;
  height: 20rem;
  margin-bottom: .2%;
  padding: 0;
  position: relative;
}

main .card img {
  width: 100%;
}

main .card .titleCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  font-size: 2.5em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

main .card:hover .titleCard {
  z-index: 5;
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
}

@media (min-width: 1920px) {
  main .card {
    height: 26rem;
  }
  main .card img {
    height: 100%;
  }
}

@media (max-width: 915px) {
  main .card {
    width: 49.8%;
  }
}

@media (max-width: 720px) {
  main .card {
    border-top: 2px solid #F23D6D;
    border-left: none;
    border-bottom: 2px solid #F23D6D;
    border-right: none;
    width: 100%;
    margin-bottom: 0;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-weight: bold;
}

footer p {
  display: flex;
  align-items: center;
}

footer p img {
  max-width: 1.75rem;
}

footer p a {
  color: #F6F4F4;
  text-decoration: none;
  margin: auto 0.5rem;
}

footer p a:hover {
  text-decoration: underline;
}

@media (min-width: 1920px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    align-self: center;
    justify-self: center;
    max-width: 1920px;
  }
}

.backgroundHeader {
  background: #F6F4F4;
  transition: .4s ease-in-out;
}

.backgroundHeader h1 {
  color: #F23D6D;
  transition: .4s ease-in-out;
}

.backgroundHeader h4 {
  color: #000;
  transition: .4s ease-in-out;
}

.headerDias #linkHome {
  align-self: flex-start;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F6F4F4;
  font-weight: bold;
  text-decoration: none;
}

.headerDias #linkHome img {
  width: 0.875rem;
  margin-right: 0.4rem;
}

.headerDias #linkHome:hover {
  text-decoration: underline;
}

.mainExercicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 100%;
  height: 76vh;
}

#dia1 ul {
  display: flex !important;
  margin: 0;
  padding: 0;
  position: relative;
}

#dia1 ul li {
  display: flex !important;
  list-style: none;
  width: 5rem;
  height: 5rem;
  margin: 0 2rem;
  transform: rotate(-30deg) skew(25deg);
  position: relative;
}

#dia1 ul li span {
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  color: #F6F4F4;
  font-size: 1.88em !important;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

#dia1 ul li:nth-child(1) span {
  background: #3b5999;
}

#dia1 ul li:nth-child(2) span {
  background: #55acee;
}

#dia1 ul li:nth-child(3) span {
  background: #dd4b39;
}

#dia1 ul li:nth-child(4) span {
  background: #0077b5;
}

#dia1 ul li:nth-child(5) span {
  background: #e4405f;
}

#dia1 ul li:hover span {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
}

#dia1 ul li:hover span:nth-child(5) {
  transform: translate(2.5rem, -2.5rem);
  opacity: 1;
}

#dia1 ul li:hover span:nth-child(4) {
  transform: translate(1.875rem, -1.875rem);
  opacity: .8;
}

#dia1 ul li:hover span:nth-child(3) {
  transform: translate(1.25rem, -1.25rem);
  opacity: .6;
}

#dia1 ul li:hover span:nth-child(2) {
  transform: translate(0.625rem, -0.625rem);
  opacity: .4;
}

#dia1 ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: .2;
}

.circle, .text {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  width: 18.75rem;
  height: 18.75rem;
}

.circle {
  box-shadow: 0 4px 0 #F23D6D;
  animation: animateCircle 1s linear infinite;
}

.text {
  box-shadow: 0 0 15px rgba(242, 61, 109, 0.5);
  color: #F23D6D;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
}

.text p {
  margin: 0;
  padding: 0;
  animation: pulseText .8s linear infinite;
  animation-direction: alternate-reverse;
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseText {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

#dia3 section {
  background: #eaffae;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
}

#dia3 section .wrapper {
  background-color: #f55757;
  border-right: 2px solid #000;
  color: #eaffae;
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#dia3 section .sliding {
  font-family: "arial black";
  font-size: 12em;
  line-height: 13.75rem;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  animation: animateText 20s linear infinite;
}

@keyframes animateText {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

#dia4 .btn {
  background: transparent;
  border: 4px solid;
  border-radius: 0.25rem;
  color: #F23D6D;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  height: 4.75rem;
  width: 25rem;
  position: relative;
}

#dia4 .btn::before, #dia4 .btn::after {
  content: "";
  background: #F6F4F4;
  height: 0.25rem;
  width: 1.2rem;
  transform: skewX(50deg);
  transition: .4s linear;
  position: absolute;
}

#dia4 .btn::before {
  top: -0.25rem;
  left: 10%;
}

#dia4 .btn::after {
  bottom: -0.25rem;
  right: 10%;
}

#dia4 .btn:hover::before {
  left: 90%;
}

#dia4 .btn:hover::after {
  right: 90%;
}

#dia5 .pulseButton {
  background: #F23D6D;
  border-radius: 50%;
  color: #F6F4F4;
  font-size: 5em;
  font-weight: 500;
  line-height: 20rem;
  text-align: center;
  text-transform: uppercase;
  height: 20rem;
  width: 20rem;
  animation: animatePulsar 3s linear infinite;
}

@keyframes animatePulsar {
  0% {
    box-shadow: 0 0 0 0 rgba(242, 61, 109, 0.7), 0 0 0 0 rgba(204, 44, 86, 0.7);
  }
  40% {
    box-shadow: 0 0 0 200px rgba(242, 61, 109, 0), 0 0 0 0 rgba(204, 44, 86, 0.7);
  }
  80% {
    box-shadow: 0 0 0 200px rgba(242, 61, 109, 0), 0 0 0 150px rgba(204, 44, 86, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(242, 61, 109, 0), 0 0 0 150px rgba(204, 44, 86, 0);
  }
}

#dia6 ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#dia6 ul li {
  color: #e7e7e7;
  font-size: 6rem;
  list-style: none;
  letter-spacing: 0.8rem;
  animation: lighting 1.4s linear infinite;
}

#dia6 ul li:nth-child(1) {
  animation-delay: 0;
}

#dia6 ul li:nth-child(2) {
  animation-delay: 0.1s;
}

#dia6 ul li:nth-child(3) {
  animation-delay: 0.2s;
}

#dia6 ul li:nth-child(4) {
  animation-delay: 0.3s;
}

#dia6 ul li:nth-child(5) {
  animation-delay: 0.4s;
}

#dia6 ul li:nth-child(6) {
  animation-delay: 0.5s;
}

#dia6 ul li:nth-child(7) {
  animation-delay: 0.6s;
}

#dia6 ul li:nth-child(8) {
  animation-delay: 0.7s;
}

#dia6 ul li:nth-child(9) {
  animation-delay: 0.8s;
}

#dia6 ul li:nth-child(10) {
  animation-delay: 0.9s;
}

#dia6 ul li:nth-child(11) {
  animation-delay: 1s;
}

@keyframes lighting {
  0% {
    color: rgba(82, 82, 82, 0.475);
    text-shadow: none;
  }
  90% {
    color: rgba(82, 82, 82, 0.475);
    text-shadow: none;
  }
  100% {
    color: #F23D6D;
    text-shadow: 0 0 7px #F23D6D, 0 0 50px #cc2c57;
  }
}

#dia7 .loader {
  height: 12.5rem;
  width: 12.5rem;
  position: relative;
}

#dia7 .loader span {
  background: #F23D6D;
  border-radius: 4px;
  height: 4.8rem;
  width: 4.8rem;
  position: absolute;
  animation: chase 2s linear infinite;
}

#dia7 .loader span:nth-child(2) {
  animation-delay: .7s;
}

#dia7 .loader span:nth-child(1) {
  animation-delay: 1.4s;
}

@keyframes chase {
  0% {
    top: 0%;
    left: 0%;
  }
  12.5% {
    top: 0%;
    left: 50%;
  }
  25% {
    top: 0%;
    left: 50%;
  }
  37.5% {
    top: 50%;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  62.5% {
    top: 50%;
    left: 0%;
  }
  75% {
    top: 50%;
    left: 0%;
  }
  82.5% {
    top: 0%;
    left: 0%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}
