@import "partials/variables.scss";

body {
  background: $background-primary;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.875rem;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 50;
  h1 {
    color: $font-primary;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
  }
  h4 {
    color: $color-circle;
    font-size: 1em;
    margin: 0.2rem 0;
    padding: 0;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 6.875rem;
  padding-top: 0.250rem;
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-primary;
    border: 2px solid $color-circle;
    box-sizing: border-box;
    color: $font-primary;
    cursor: pointer;
    width: 33.2%;
    height: 20rem;
    margin-bottom: .2%;
    padding: 0;
    position: relative;
    img {
      width: 100%;
    }
    .titleCard {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, .6);
      font-size: 2.5em;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
    }
  }
  .card:hover .titleCard {
      z-index: 5;
      opacity: 1;
      visibility: visible;
      transition: 0.5s ease-in-out;
  }
  @media (min-width: 1920px) {
    .card {
      height: 26rem;
      img {
        height: 100%;
      }
    }
  }
  @media (max-width: 915px) {
    .card {
      width: 49.8%;
    }
  }
  @media (max-width: 720px) {
    .card {
      border-top: 2px solid $color-circle;
      border-left: none;
      border-bottom: 2px solid $color-circle;
      border-right: none;
      width: 100%;
      margin-bottom: 0;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-weight: bold;
  p {
    display: flex;
    align-items: center;
    img {
      max-width: 1.75rem;
    }
    a {
      color: $font-primary;
      text-decoration: none;
      margin: auto 0.5rem;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 1920px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    align-self: center;
    justify-self: center;
    max-width: 1920px;
  }
}

// Class para adicionar quando houver ações
.backgroundHeader {
  background: $font-primary;
  transition: .4s ease-in-out;
  h1 {
    color: $color-circle;
    transition: .4s ease-in-out;
  }
  h4 {
    color: $background-primary;
    transition: .4s ease-in-out;
  }
}


//*----------------- Styles das páginas do dia 1 ao 30 ----------------------*//

// Configurações header padrão para as 30 páginas
.headerDias #linkHome {
  align-self: flex-start;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-primary;
  font-weight: bold;
  text-decoration: none;
  img {
    width: 0.875rem;
    margin-right: 0.4rem;
  }
}

.headerDias #linkHome:hover {
  text-decoration: underline;
}

// Altura e largura padrão da <main> em todas as páginas
.mainExercicio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background-primary;
  width: 100%;
  height: 76vh;
}

//*-------------------------------- Dia 1 -----------------------------------*//
#dia1 {
  ul {
    display: flex !important;
    margin: 0;
    padding: 0;
    position: relative;
    li {
      display: flex !important;
      list-style: none;
      width: 5rem;
      height: 5rem;
      margin: 0 2rem;
      transform: rotate(-30deg) skew(25deg);
      position: relative;
      span {
        display: flex !important;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        color: $font-primary;
        font-size: 1.88em !important;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    li:nth-child(1) span {
      background: $background-face;
    }
    li:nth-child(2) span {
      background: $background-twitter;
    }
    li:nth-child(3) span {
      background: $background-gmail;
    }
    li:nth-child(4) span {
      background: $background-linkedin;
    }
    li:nth-child(5) span {
      background: $background-insta;
    }
    li:hover span {
      box-shadow: -2px 2px 2px rgba(0, 0, 0, .1);
    }
    li:hover span:nth-child(5) {
      transform: translate(2.5rem, -2.5rem);
      opacity: 1;
    }
    li:hover span:nth-child(4) {
      transform: translate(1.875rem, -1.875rem);
      opacity: .8;
    }
    li:hover span:nth-child(3) {
      transform: translate(1.25rem, -1.25rem);
      opacity: .6;
    }
    li:hover span:nth-child(2) {
      transform: translate(0.625rem, -0.625rem);
      opacity: .4;
    }
    li:hover span:nth-child(1) {
      transform: translate(0, 0);
      opacity: .2;
    }
  }
}


//*-------------------------------- Dia 2 -----------------------------------*//
%sizeText-Circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  width: 18.75rem;
  height: 18.75rem;
}

.circle {
  @extend %sizeText-Circle;
  box-shadow: 0 4px 0 $color-circle;
  animation: animateCircle 1s linear infinite;
}

.text {
  @extend %sizeText-Circle;
  box-shadow: 0 0 15px rgba(242, 61, 109, 0.5);
  color: $color-circle;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  p {
    margin: 0;
    padding: 0;
    animation: pulseText .8s linear infinite;
    animation-direction: alternate-reverse;
  }
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseText {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}


//*-------------------------------- Dia 3 -----------------------------------*//
#dia3 {
  section {
    background: #eaffae;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    .wrapper {
      background-color: #f55757;
      border-right: 2px solid $background-primary;
      color: #eaffae;
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    .sliding {
      font-family: "arial black";
      font-size: 12em;
      line-height: 13.75rem;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      top: 50%;
      animation: animateText 20s linear infinite;
    }
  }
}

@keyframes animateText {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}


//*-------------------------------- Dia 4 -----------------------------------*//
#dia4 {
  .btn {
    background: transparent;
    border: 4px solid;
    border-radius: 0.25rem;
    color: $color-circle;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    height: 4.75rem;
    width: 25rem;
    position: relative;
  }
  .btn::before, .btn::after {
    content: "";  // utilizado junto a pseudo-elementos(que permite modificar uma parte especìfica do elemento),
    background: $font-primary;
    height: 0.25rem;
    width: 1.2rem;
    transform: skewX(50deg); // transforma a inclinação do elemento na direção horizontal no plano 2D 
    transition: .4s linear;
    position: absolute;
  }
  .btn::before {
    top: -0.25rem;
    left: 10%;
  }
  .btn::after {
    bottom: -0.25rem;
    right: 10%;
  }
  .btn:hover::before {
    left: 90%;
  }
  .btn:hover::after {
    right: 90%;
  }
}


//*-------------------------------- Dia 5 -----------------------------------*//
#dia5 {
  .pulseButton {
    background: $color-circle;
    border-radius: 50%;
    color: $font-primary;
    font-size: 5em;
    font-weight: 500;
    line-height: 20rem;
    text-align: center;
    text-transform: uppercase;
    height: 20rem;
    width: 20rem;
    animation: animatePulsar 3s linear infinite; 
  }

  @keyframes animatePulsar {
    0% {
      box-shadow: 0 0 0 0 rgba(242, 61, 109, 0.7), 0 0 0 0 rgba(204, 44, 86, 0.7);
    }
    40% {
      box-shadow: 0 0 0 200px rgba(242, 61, 109, 0), 0 0 0 0 rgba(204, 44, 86, 0.7);
    }
    80% {
      box-shadow: 0 0 0 200px rgba(242, 61, 109, 0), 0 0 0 150px rgba(204, 44, 86, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(242, 61, 109, 0), 0 0 0 150px rgba(204, 44, 86, 0);
    }
  }
}




//*-------------------------------- Dia 6 -----------------------------------*//
#dia6 {
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      color: $background-circle;
      font-size: 6rem;
      list-style: none;
      letter-spacing: 0.8rem;
      animation: lighting 1.4s linear infinite;
    }
    li:nth-child(1) {
      animation-delay: 0;
    }
    li:nth-child(2) {
      animation-delay: 0.1s;
    }
    li:nth-child(3) {
      animation-delay: 0.2s;
    }
    li:nth-child(4) {
      animation-delay: 0.3s;
    }
    li:nth-child(5) {
      animation-delay: 0.4s;
    }
    li:nth-child(6) {
      animation-delay: 0.5s;
    }
    li:nth-child(7) {
      animation-delay: 0.6s;
    }
    li:nth-child(8) {
      animation-delay: 0.7s;
    }
    li:nth-child(9) {
      animation-delay: 0.8s;
    }
    li:nth-child(10) {
      animation-delay: 0.9s;
    }
    li:nth-child(11) {
      animation-delay: 1s;
    }
  }

  @keyframes lighting {
    0% {
      color: rgba(82, 82, 82, 0.475);
      text-shadow: none;
    }
    90% {
      color: hsla(0, 0%, 32%, 0.475);
      text-shadow: none;
    }
    100% {
      color: $color-circle;
      text-shadow: 0 0 7px $color-circle, 0 0 50px #cc2c57;
    }
  }
}