// Utilizado na index e nas outras pages
$background-primary:  #000;
$background-second: #54ACBF;
$font-primary: #F6F4F4;
$font-second: #2A678C;

// Utilizado no exercício do 1° Dia
$background-face: #3b5999;
$background-twitter: #55acee;
$background-gmail: #dd4b39;
$background-linkedin: #0077b5;
$background-insta: #e4405f;

// Utilizado no exercício do 2° Dia
$background-circle: #e7e7e7;
$color-circle: #F23D6D;